@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #182473;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form {
  width: 600px;
  height: 412px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 26px 45px;
}
.form__title {
  color: #787878;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0;
}
.form__input {
  position: relative;
  top: 30px;
}
.form__input > input {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #787878;
  font-size: 28px;
  line-height: 36px;
  color: #787878;
  padding: 7px 15px 6px;
  outline: none;
  font-weight: 700;
  top: 1px;
}
.form__input > input ::placeholder {
  color: #cccccc;
}
.form__input > label {
  position: absolute;
  top: -20px;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
  font-weight: 700;
  left: 9px;
}
.checkbox {
  margin-top: 45px;
}
.form__button {
  background: #182473;
  color: #ffffff;
  width: 180px;
  padding: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 52px auto 0;
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .form {
    width: 100%;
    height: 652px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 70px 10px;
    padding: 38px 45px 242px 45px;
  }
}
